:root {
  --main-color: #193441;
  --green-color:#4CAF50;
  --yellow-color:#d3d03e;
  --orange-color:#d3923e;
  --red-color:#c04444;
}

div {
  margin-top: 2px;
  border: 3px #ffffff;
  border-style: solid solid solid solid;
  padding: 10px 25px;
  background-color: #eff3f591;
}

body {
  max-width: 90%;
	margin: 50px 5%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #193441;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border: solid 3px #ffffff;
  border-collapse: collapse;
}

th, td {
  border: solid 3px #ffffff;
  padding: 5px 10px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  border: none;
  background-color: #3e9b41;
}

button:focus {
  outline: none;
}

/* Based on https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
.floatingbutton {
  display: none; /* Displayed by default for browsers with iffy onscroll support */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

h1 {
  display: inline-block;
}

h2 {
  vertical-align: middle;
  display: inline-block;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top: -35px;
}

.match {
  background-color: var(--green-color);
}

.warn {
  background-color: var(--yellow-color);
  color: #193441;
}

.suspicious {
  background-color: var(--red-color);
}

/* Gallery */

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  margin-top: 0px;
  border: 0px #ffffff;
  border-style: solid solid solid solid;
  padding: 5px 5px;
  background-color: #eff3f591;
  position: relative;
  display: none;
}

.container-common {
  margin-top: 0px;
  border: 0px #ffffff;
  border-style: solid solid solid solid;
  padding: 5px 5px;
  background-color: #eff3f591;
  position: relative;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  right: 20px;
  top: 15px;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

/* Gallery end */